body{
    margin:0;
    font-family: Arial;
    background: radial-gradient(circle,#0C2240,#88A0BF);
}

/* HEADER */
header{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    padding:10px;
    background:#1f3b6d;
    color:white;
    position:relative;
}

.logo-izq, .logo-der{
    width:50px;
    position:absolute;
}

.logo-izq{ left:10px; }
.logo-der{ right:10px; }

.texto-header{ width:100%; }

/* MAIN */
.main{
    display:flex;
    justify-content:center;
    padding:20px;
}

/* CONTENEDOR */
.contenedorResultado{
    background:white;
    padding:20px;
    border-radius:15px;
    width:100%;
    max-width:500px;
    text-align:center;
}

/* TARJETAS */
.tarjetaCarrera{
    background:#f5f7fb;
    padding:10px;
    margin:10px 0;
    border-radius:10px;
}

/* IMÁGENES */
img{
    width:100%;
    max-width:220px;
}

/* BOTÓN */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:20px;
    background:#88A0BF;
}

/* ANIMACIÓN */
button:active{
    transform:scale(0.95);
}
