body{
    margin:0;
    background: radial-gradient(circle,#0C2240,#88A0BF);
    font-family: Arial, sans-serif;
}

/* HEADER */
header{
    background-color:#1f3b6d;
    color:white;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:10px;
    position:relative;
}

.logo-izq{
    width:60px;
    position:absolute;
    left:10px;
}

.logo-der{
    width:60px;
    position:absolute;
    right:10px;
}

.texto-header{
    width:100%;
}

.texto-header h2{
    margin:0;
    font-size:14px;
}

.texto-header h1{
    margin:3px 0 0 0;
    font-size:18px;
}

/* MAIN */
.main{
    padding:20px;
    display:flex;
    justify-content:center;
}

/* CONTENEDOR */
.contenedorResultado{
    width:100%;
    max-width:500px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.3);
    text-align:center;
}

/* TITULO */
.titulo{
    margin-bottom:20px;
}

/* TARJETAS */
.tarjetaCarrera{
    background:#f5f7fb;
    padding:10px;
    border-radius:12px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.15);
    margin-bottom:15px;
}

/* TEXTO */
h2{
    margin:5px 0;
}

p{
    font-size:14px;
    line-height:1.4;
}

/* IMAGEN */
.imagenCarrera{
    width:100%;
    max-width:220px;
    height:auto;
}

/* BOTON */
button{
    background:#88A0BF;
    border:none;
    padding:12px;
    width:100%;
    color:black;
    font-size:16px;
    border-radius:25px;
    cursor:pointer;
    margin-top:20px;
}

/* EFECTOS */
button:hover{
    background:rgba(26,59,104,0.8);
    color:white;
}

/* RESPONSIVE */
@media (max-width:600px){

    .logo-izq, .logo-der{
        width:45px;
    }

    .texto-header h1{
        font-size:16px;
    }

    .texto-header h2{
        font-size:12px;
    }

}
